In [1]:
import pandas as pd

excel_path = "../data/raw/pbh_data.xlsx"

sheet_names = pd.ExcelFile(excel_path).sheet_names
print(sheet_names)

['boletins', 'envolvidos', 'veiculos', 'logradouros', 'coordenadas']

In [2]:
df = pd.read_excel(excel_path, sheet_name="boletins") # KEY: numero_boletim
df.head(2)

,numero_boletim,tipo_acidente,desc_tipo_acidente,cod_tempo,desc_tempo,cod_pavimento,pavimento,cod_regional,desc_regional,origem_boletim,...,indicador_fatalidade,valor_ups,descricao_ups,Data,Hora,Faixa_hora,Faixa_hora_num,Mês,Ano,Dia
0,2019026821139001,H01002,ABALROAMENTO COM VITIMA,0,NAO INFORMADO,0,NAO INFORMADO,25,PAMPULHA,POLICIA MILITAR,...,NÃO,0,NÃO INFORMADO,2019-06-07,13:38:00,Tarde,2,6,2019,7
1,2019027020851001,H01002,ABALROAMENTO COM VITIMA,0,NAO INFORMADO,0,NAO INFORMADO,19,CENTRO-SUL,POLICIA MILITAR,...,NÃO,0,NÃO INFORMADO,2019-06-08,17:07:00,Tarde,2,6,2019,8

In [3]:
df = pd.read_excel(excel_path, sheet_name="envolvidos") # KEY: num_boletim
df.head(2)

,num_boletim,numero_envolvido,condutor,codigo_severidade,desc_severidade,sexo,cinto_seguranca,Embreagues,Idade,categoria_habilitacao,descricao_habilitacao,especie_veiculo,pedestre,passageiro,Data,Hora
0,2017004467915001,1,S,3,SEM FERIMENTOS,M,SIM,NÃO,25.0,B,"VEICULOS MOTOR. COM ATE 8 PASSAGEIROS, PESO MA...",AUTOMOVEL,N,N,2017-02-28,21:13:00
1,2017029493511001,1,S,3,SEM FERIMENTOS,M,SIM,NÃO,25.0,B,"VEICULOS MOTOR. COM ATE 8 PASSAGEIROS, PESO MA...",AUTOMOVEL,N,N,2017-10-10,13:31:00

In [4]:
df = pd.read_excel(excel_path, sheet_name="veiculos") # KEY: Nº_boletim
df.head(2)

,Nº_boletim,seq_veic,cod_categ,descricao_categoria,cod_especie,descricao_especie,cod_situacao,desc_situacao,tipo_socorro,desc_tipo_socorro,Data,Hora
0,2016026389227001,1,3,PARTICULAR,6,AUTOMOVEL,1,EM MOVIMENTO,0,NÃO INFORMADO,2016-12-06,10:55:00
1,2016026413610001,1,3,PARTICULAR,6,AUTOMOVEL,1,EM MOVIMENTO,0,NÃO INFORMADO,2016-12-06,14:31:00

In [5]:
df = pd.read_excel(excel_path, sheet_name="logradouros") # KEY: Nº_boletim
df.head(2)

,Nº_boletim,nome_municipio,seq_logradouros,tipo_logradouro,nome_logradouro,tipo_bairro,descricao_tipo_bairro,Nº_imovel,Bairro,Data,Hora
0,2016018874465001,BELO HORIZONTE,2,RUA,SAO PAULO,B,BAIRRO,0,Centro,2016-08-30,09:45:00
1,2016023140518001,BELO HORIZONTE,2,RUA,SAO PAULO,B,BAIRRO,0,Centro,2016-10-23,21:08:00

In [9]:
df = pd.read_excel(excel_path, sheet_name="coordenadas") # KEY: numero_bol
display(df.head(2))

  numero_bol  longitude   latitude
0   10017350 -44.013049 -19.990172
1   10078358 -43.898240 -19.862572