In [1]:
import pandas as pd

df = pd.read_csv("../data/processed/accidents.csv", dtype={0: str, 53: str})
df.head(3)

,numero_boletim,tipo_acidente,desc_tipo_acidente,cod_tempo,desc_tempo,cod_pavimento,pavimento,cod_regional,desc_regional,origem_boletim,...,tipo_logradouro,nome_logradouro,tipo_bairro,descricao_tipo_bairro,Nº_imovel,Bairro,Data_logradouro,Hora_logradouro,longitude,latitude
0,2019026821139001,H01002,ABALROAMENTO COM VITIMA,0,NAO INFORMADO,0,NAO INFORMADO,25,PAMPULHA,POLICIA MILITAR,...,RUA,ANTONIO ALEIXO,B,BAIRRO,0,Serrano,2019-06-07,13:38:00,NaN,NaN
1,2019026821139001,H01002,ABALROAMENTO COM VITIMA,0,NAO INFORMADO,0,NAO INFORMADO,25,PAMPULHA,POLICIA MILITAR,...,RUA,DA BAHIA,B,BAIRRO,0,Centro,2019-06-07,13:38:00,NaN,NaN
2,2019026821139001,H01002,ABALROAMENTO COM VITIMA,0,NAO INFORMADO,0,NAO INFORMADO,25,PAMPULHA,POLICIA MILITAR,...,RUA,ANTONIO ALEIXO,B,BAIRRO,0,Serrano,2019-06-07,13:38:00,NaN,NaN